@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

nav ul a {
    color: #000000;
}

nav .brand-logo.left {
    color: #000000;
}

.btn, .btn-large, .btn-small {
    background-color: chocolate;
    margin-bottom: 40px;

}

.in-icon {
    margin-right: 5px;
}

.card {
    color: aqua;
}