{% extends "base.html" %}
{% block content %}

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
      <div class="card brown darken-1">
        <div class="card-content white-text">
            
          <h4><span class="card-title center"><strong>Login</strong></span></h4>
            <!--first name-->
            <div class="row">
              <div class="input-field col s12">
                 <i class="fas fa-user-plus prefix"></i>
                 <input id="username"  name="username" type="text" class="validate" required>
                 <label for="username">Username</label>
                </div>
           
          <!--password-->
          <div class="row"></div>
           <div class="input-field col s12">
             <i class="fas fa-unlock-alt prefix"></i>
             <input id="password" name="password" type="password" class="validate" required>
             <label for="password">Password</label>
           </div>
         </div>
         <!--register button-->
         <div class="row center">
            <button type="submit" class="waves-effect waves-light btn-large"><i class="fas fa-sign-in-alt in-icon"></i>Login</button>
         </div>

        </div>
       </div>
      </div>
    </form>
  </div>
            

{% endblock %}
        