{% extends "base.html" %}
{% block content %}

<div class="row">
    <form class="col s12 m8 offset-m2">
      <div class="card brown darken-1">
        <div class="card-content white-text">
          <h4><span class="card-title center"><strong>Register</strong></span></h4>
          <div class="row">
          <div class="input-field col s6 m6">
            <i class="fas fa-user-plus prefix"></i>
           <input id="first_name"  name="first_name" type="text" class="validate">
           <label for="first_name">First Name</label>
         </div>
         <div class="input-field col s6 m6">
           <i class="fas fa-signature prefix"></i>
           <input id="last_name" name="last_name" type="text" class="validate">
           <label for="last_name">Last Name</label>
         </div>
         <div class="row"></div>
           <div class="input-field col s12">
             <i class="fas fa-unlock-alt prefix"></i>
             <input id="password" type="password" class="validate">
             <label for="password">Password</label>
         </div>
         </div>
         <div class="row center">
            <button type="submit" class="waves-effect waves-light btn"><i class="fas fa-sign-in-alt in-icon"></i>Sign In</button>
         </div>
        </div>
       </div>
      </div>
    </form>
  </div>
            

{% endblock %}
        